{{template "base" .}}
{{define "title"}}Recent Activity{{end}}
{{define "body"}}
<h2>Recent Activity</h2>

{{if .Posts}}

{{range .Posts}}
<div style="margin-bottom: 75px;">
    <div class="post">
        <div class="metadata">
            <a href='/posts?id={{.ID}}'><strong>{{.Title}}</strong></a>
            <span>{{.ID}}</span>
            <p><b>Author:</b> {{.User.Username}}</p>
        </div>

        <pre><code>{{.Content}}</code></pre>

        <div class="metadata">
            <div class="reaction-container">
                {{if eq .AuthUserReaction 1}}
                <img class="like-icon" src="/static/img/like-active.svg" alt="Like">
                {{else}}
                <img class="like-icon" src="/static/img/like-svgrepo-com(1).svg" alt="Like">
                {{end}}
                <span>{{.Likes}}</span>

                {{if eq .AuthUserReaction 0}}
                <img class="dislike-icon" src="/static/img/dislike-active.svg" alt="Dislike">
                {{else}}
                <img class="dislike-icon" src="/static/img/dislike-svgrepo-com.svg" alt="Dislike">
                {{end}}
                <span>{{.Dislikes}}</span>
            </div>

            <time class="comment-posted-time">Created: {{humanDate .Created}}</time>
        </div>
    </div>
</div>
{{end}}

{{else}}
<p class="comment-info">No Posts Yet!</p>
{{end}}

{{end}}